* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #004466;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 180px;
}

.recipe-container {
  background-color: #003149;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
}

.recipe {
  margin: 2em;
}

.image-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-recipe > img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.description-recipe {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.content-recipe {
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
  background-color: #002233;
  border-radius: 10px 10px 0 0;
}

.ingredients-recipe {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  line-height: 2rem;
  padding: 1rem;
}

.ingredients-recipe li {
  list-style: none;
}

.steps-recipe {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  line-height: 2rem;
  padding: 1rem;
}

.exit-recipe {
  background-color: #000;
  border-radius: 0 0 10px 10px;
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exit-recipe > a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.exit-recipe > a:hover {
  color: yellow;
  text-decoration: underline;
}